@import "../../styles/scss/variables.scss";

.save-event-btn{
  background-color: none !important;
  border:  2px solid $red_color !important;
  color: $red_color !important;
  height: 6vh !important;
  font-weight: bold !important;
  margin: 32px 0px 32px 0px !important;
}
.publish-event-btn{
  background-color: $red_color !important;
  border:  2px solid $red_color !important;
  color: white !important;
  height: 6vh !important;
  font-weight: bold !important;
  margin: 32px 0px 32px 32px !important;
}
.create-event-footer-content{
    margin: 0px !important;
}
.event-image-col{
  background-color: $gray_color !important;
  height: 300px !important;
  width: 400px !important;
  margin: 4% !important;
  display: flex;
  justify-content: center;
}
.upload-image-center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-row{
background: #e9e9e9;
padding: 5% !important;
opacity: .5;
cursor: pointer;
}
.event-form-col{
  margin-top: 5% !important;
}
.event-form-col2{
  margin: 5% !important;
}
.create-event-title{
font-size: 24px;
padding-top: 5% !important;
}
.ant-modal-header{
  height: 15vh !important;
}
.ant-modal-title{
  padding-top: 2.5% !important;
  font-weight: bold;
}