@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../styles//scss/variables.scss";

*{
    font-family: 'Montserrat', sans-serif;
}

.home-stats-card{
    background-color: white !important;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 4%) !important;
    height: 12.5vh;
    width: 100px;justify-content: center !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;

    .home-stats-card-num{
      color: $red_color;
      font-size: 24px;
      font-weight: 300;  
    }
    .home-stats-card-txt{
      font-size: 12px;
    }
}
.event-card-wrapper{
  transform: scale(1);
  transition: transform 1s;
}
.event-card-wrapper:hover{
    transform: scale(1.02) !important;
    transition: transform 1s !important;
 }
 .event-image{
     height: 200px;
 }
 .event-card-bottom{

 }
 .event-status-text{
     font-size: 10px;
     font-weight: normal;
 }
.pause_icon{
    font-weight: 900 !important;
    line-height: 4px !important;
}
.arrow-right-icon{
fill: $red_color;
padding-top: 3px;
font-weight: bolder;
}

//stats card
.stats-card-wrapper{
  display: flex;
justify-content: center;
align-items: center;
width: 100% !important;
padding: 0% !important;
margin-bottom: 10%;
flex-direction: column;
.event-card{
    box-shadow: 0px -3px 40px 0px rgb(0 0 0 / 4%);
}
}
.status-card{
    cursor: default;
    margin-bottom: 10%;
    align-items: center;
}
.premeum-card{
    background-color: #1a2b3c !important; 
display: flex !important;
justify-content: center !important;
align-items: center;
margin-bottom: 10%;
}
.premium-txt{
    :hover{
        color: #1a2b3c;
    }
    align-self: center;
}
.stat-category-txt{
   font-size: 12.5px !important;
   font-weight: 425;
}
.stats-num{
 font-size: 12px;
}