@import "../styles//scss/variables.scss";
.auth-layout{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #f5f8fa 50%, #ffffff 50%);;
}

.auth-layout-content{
    max-width: 25%;
    max-height: 70vh;
    min-height: 50vh;
    background: white;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-top: 5px solid $red_color;
    z-index: 100 !important;
    position: absolute;
    top: 15%;
    left: 37.5%;
    transform: scale(1);
    transition: transform 1s;
    box-shadow: 0px -3px 40px 0px rgb(0 0 0 / 4%);;
    
}
.auth-layout-content:hover{
        transform: scale(1.03);
        transition: transform 1s;
}
.logo{
    img{
     height: 6vh;
     width: 6vh;
     margin-right: auto !important;
     margin-left: auto !important;
     margin-top: 30%;
    }
    display: flex !important;
justify-content: center !important;
align-items: center !important;
}
.side-bar{
background: white !important;
height: 100vh !important;
max-width: 10% !important;
border-right:.03px solid $light_gray_color !important;
border-top:.03px solid $light_gray_color !important;
}
.top-nav{
background: white !important;
height: 15vh;
border:.8px solid $light_gray_color;
}

.dashboard-home-title{
margin: 7%;
font-size: 24px;
font-weight: 600 !important;
line-height: calc(16px * 1.618);
}
.dashboard-side-bar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
bottom: 15%;
align-self: center;
margin-left: 25%;
.side-bar-tab{
     text-align: center;
     cursor: pointer;
     
    .home-icon-active{
      height: 5vh;
      width:20px;
      fill: $red_color;
      color: $red_color;
      transition: .3s ease-in-out;
    }
    .home-icon{
        height: 5vh;
      width:20px;
      fill: $light_gray_color;
      color: $light_gray_color;
      transition: .3s ease-in-out;
    
    }
    h3{
        font-size: 12px;
        color: $light_gray_color;
        font-weight: normal;
    }
}
.sidebar-logout-tab{
     text-align: center;
     cursor: pointer;
    .logout-icon{
       height: 5vh;
      width:20px;
      fill: $light_gray_color;
    }
    h3{
        font-size: 12px;
        color: $light_gray_color;
        font-weight: normal;
    }
}
}

.menu-data-wrapper{
   margin-left: auto !important;
   margin-right: 5%;
}

//Menu
.menu-data-wrapper{
   justify-content: center !important;
   align-content: center !important;
   align-self: center !important;
   margin-top: 2%;
}
.menu-user-col{
    .menu-user-icon{
        height: 5.5vh;
        width: 50px;
    }
    margin-bottom: -10% !important;
}
.menu-help-col{
    .menu-help-icon{
        height: 3vh;
        width: 20px;
        transform: scale(1);
        transition: transition 1s;
        color: $light_gray_color;
    }
}
.menu-notification-col{
    .menu-notification-icon{
        height: 3vh;
        width: 20px;
        transform: scale(1);
        transition: transition 1s;
    }
}
.profile-menu-name{
  margin-top: -12.5px;
  font-size: 12px;
}

.menu-user-row{
    margin-top: 5%;
}
