@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL */

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: #F6F6FF;
}



/* TYPOGRAPHY */
.txt_center{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
.hover_color_black{
    :hover{
        color: black !important;
    }
}
.hover_color_white{
    :hover{
        color: white !important;
    }
}
.txt_large{
    font-size: 64px;
    font-weight: 700;
    line-height: calc(64px * 1.5);
}
.medium_italic_txt{
    font-family: $poppins;
    font-style: italic;
}
.txt_heading{
    font-size: 56px;
    font-weight: 700;
    line-height: calc(56px * 1.5);
}

.txt_title{
    font-size: 36px;
    font-weight: 700;
    line-height: calc(36px * 1.5);
}

.txt_subtitle{
    font-size: 24px;
    line-height: calc(24px * 1.5);
}

.txt_normal{
    font-size: 18px;
    font-weight: 300;
    line-height: calc(18px * 2);
}
.txt_color_gray{
    color: $dark_gray_color !important;
}

.txt_caption{
    font-size: 14px;
    line-height: calc(14px * 2);
}
.bg_white{
    background: white;
}

.bg_dark_blue{
    background: $main_blue !important;
}
.bg_red{
 background: $red_color; 
}
.btn_small{
    height: 5vh;
}
.text_color_white{
color: white !important;
}
.border_none{
    border: none;
}
.outline_none{
    outline: none;
}
.txt_color_red{
 color: $red_color;
}

.item_center{
    margin-left: auto !important;
    margin-right: auto !important;
}
.txt_bold{
    font-weight: bold !important;
}

.hover_color_red{
    :hover{
        color: $red_color;
         transition: .3s ease-in-out;
    }
}
.hover_bg_red{
    :hover{
        background-color: $red_color !important;
        transition: .3s ease-in-out;
    }
}

.smooth_transform{
   
   :hover{
   transform: scale(1.2);
    transition: .2 ease-in-out;    
   } 
}

.progres_40{

}

/* FONT WEIGHT */

.txt_font_weight_100{
    font-weight: 100;
}

.txt_font_weight_300{
    font-weight: 300;
}

.txt_font_weight_700{
    font-weight: 700;
}



/* COLORS */

.txt_blue{
    color: #1769FF !important
}
.txt_red{
    color: $red_color !important;
}
.txt_dark_blue{
    color: $main_blue !important
}

.txt_white{
    color: #FFFFFF
}

.txt_aqua{
    color: #00FFEB;
}

.txt_black{
    color: #000000;
}

.txt_grey{
    color: #707070;
}
.txt_light_gray{
    color: #77838F;
}

.cursor_pointer{
    cursor: pointer;
}

.button_hover_shadow:hover{
        background-color: #92202c !important;
        border: 2px solid #92202c !important;
    }

/* BACKGROUND COLORS */

.bg_white{
    background-color: #ffffff;
}

.bg_grey{
    background-color: #F6F6FF;
}

.bg_blue{
    background-color: $main_blue;
}



/* FORMS */

.form_input{
    border-radius: 0;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.09);
    height: 48px;
}

.form_textarea{
    border-radius: 0;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.09);
    min-height: 128px;
    width: 100%;
}



/* BUTTONS */

.btn_primary{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1769FF;
    color: #00FFEB;
    border: 1.5px solid #1769FF;
}

.btn_secondary{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
    border: 1.5px solid #ffffff;
}

.btn_primary:hover,
.btn_secondary:hover{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #00FFEB;
    color: #1769FF;
    border: 1.5px solid #00FFEB;
}

.btn_small{
    min-width: 150px;
    padding: 12px 32px;
    font-size: 12px;
}



/* SPACING */

.pad0{
    padding: 0px !important;
}

.pad16{
    padding: 16px !important;
}

.pad32{
    padding: 32px !important;
}

.pad64{
    padding: 64px !important;
}

.padt0{
    padding-top: 0px !important;
}

.padt16{
    padding-top: 16px !important;
}

.padt32{
    padding-top: 32px !important;
}

.padt64{
    padding-top: 64px !important;
}

.padb0{
    padding-bottom: 0px !important;
}

.padb16{
    padding-bottom: 16px !important;
}

.padb32{
    padding-bottom: 32px !important;
}

.padb64{
    padding-bottom: 64px !important;
}

.padr0{
    padding-right: 0px !important;
}

.padr16{
    padding-right: 16px !important;
}

.padr32{
    padding-right: 32px !important;
}

.padr64{
    padding-right: 64px !important;
}

.padl0{
    padding-left: 0px !important;
}

.padl16{
    padding-left: 16px !important;
}

.padl32{
    padding-left: 32px !important;
}

.padl64{
    padding-left: 64px !important;
}

.mabo0{
    margin-bottom: 0px !important;
}

.mabo16{
    margin-bottom: 16px !important;
}

.mabo32{
    margin-bottom: 32px !important;
}

.mabo64{
    margin-bottom: 64px !important;
}


.mato0{
    margin-top: 0px;
}

.mato16{
    margin-top: 16px;
}

.mato32{
    margin-top: 32px;
}

.mato64{
    margin-top: 64px;
}
//FONT FAMILIES

.font_fam_poppins{
    font-family: "Poppins";
}
