@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// colors

$main_blue : #1B27AF;
$gray_color: #00349621;
$cyan_color: #00FFEB;
$red_color: #C12B3D;
$dark_red_color: #92202c;
$dark_gray_color: #495D69;
$light_gray_color: #8E98AB;
$light_silver: #F5F8FA; 


//  font families

$poppins: "Poppins";
