@import "../../styles/scss//variables.scss";

.form-input{
 height: 6vh;
 margin: 0% 0% 5% 0%;
 border: none;
 fill: white;
 border-bottom: 2px solid $gray_color;
 border-radius: none;
 width: 100% !important;
 outline: none;
 transition: border-bottom .5s;
}
.form-input:focus-visible{
    border-bottom: 2px solid $red_color !important;
    transition: .5s ease-in-out;
}
.form-input:focus{
 border-bottom: 2px solid $red_color;
 }
 .form-input-select{
   background-color: white;
 }

.form-input-description{
 height: 6vh;
 margin: 0% 0% 5% 0%;
 border: none;
 fill: white;
 border-bottom: 2px solid $gray_color;
 border-radius: none;
 width: 700px !important;
 outline: none;
}
.form-input-description:focus{
   border-bottom: 2px solid $red_color;
}
.input-label{
font-size: 12px;
font-weight: 600;
 margin-left: 1%;
}
.form-btn{
 background: $red_color;
 border: none;
 width: 100%;
 color: white;
 margin-top: 5%;
 height: 6vh;
 cursor: pointer;
}
.form-btn:hover{
   background-color: #92202c !important;
}
.eye-icon{
  position: absolute;
  top: 62.5%;
  margin-left: -7.5%;
  color: $light_gray_color;
  :hover {
  cursor: pointer;
}
}

.eye-icon-reset-pass{
  position: absolute;
  top: 55%;
  margin-left: -5%;
  color: $light_gray_color;
  :hover {
  cursor: pointer;
}
}
.date-input{
  height: 6vh;
 margin: 0% 0% 5% 0%;
 border: none;
 fill: white;
 border-bottom: 2px solid $gray_color;
 border-radius: none;
 width: 100% !important;
 outline: none; 
}
.date-input:focus{
 border-bottom: 2px solid $red_color;
 }